##
import FWCore.ParameterSet.Config as cms

runProcess = cms.PSet(
    input = cms.string("@input"),
    outdir = cms.string("@outdir"),
    suffix = cms.string("@suffix"),
    tag = cms.string("@tag"),
    MCweights = cms.vstring("@MCweights"),
    genwimpweights = cms.vstring("@genwimpweights"),
    doWIMPreweighting = cms.bool(@doWIMPreweighting),
    WIMPreweighting_DM_V_Mx = cms.string("root://eoscms//eos/cms/store/group/phys_exotica/monoZ/llvvNtuple_ReReco_17Feb2016/MC13TeV_DM_V_Mx1Mv200.root"),
    WIMPreweighting_DM_A_Mx = cms.string("root://eoscms//eos/cms/store/group/phys_exotica/monoZ/llvvNtuple_ReReco_17Feb2016/MC13TeV_DM_A_Mx1Mv200.root"),
    usemetNoHF = cms.bool(@usemetNoHF),
    pdfInput = cms.string("root://eoscms//eos/cms/store/group/phys_exotica/monoZ/llvvNtuple_25ns_PDFs/"),
    PU_Central = cms.string("${CMSSW_BASE}/src/llvvAnalysis/DMAnalysis/data/weights/weight_PU_Central_0_50.root"),
    PU_Up      = cms.string("${CMSSW_BASE}/src/llvvAnalysis/DMAnalysis/data/weights/weight_PU_Up_0_50.root"),
    PU_Down    = cms.string("${CMSSW_BASE}/src/llvvAnalysis/DMAnalysis/data/weights/weight_PU_Down_0_50.root"),
    isMC = cms.bool(@isMC),
    mctruthmode=cms.int32(@mctruthmode),
    xsec = cms.double(@xsec),
    cprime = cms.double(@cprime),
    brnew = cms.double(@brnew),
    saveSummaryTree = cms.bool(@saveSummaryTree),
    runSystematics = cms.bool(@runSystematics),
    runOptimization = cms.bool(@runOptimization),
    weightsFile = cms.vstring(@weightsFile),
    fakeRateFile = cms.vstring("${CMSSW_BASE}/src/CMGTools/HiggsAna2l2v/data/fr_pt.root"), ##FIXME
    BtagEffFiles = cms.vstring("${CMSSW_BASE}/src/llvvAnalysis/DMAnalysis/data/weights/BtagEff_13TeV_27Jan2016.root"),
    BtagSF = cms.string("${CMSSW_BASE}/src/llvvAnalysis/DMAnalysis/data/CSVv2.csv"),
    MuonTrigEffSF = cms.string("${CMSSW_BASE}/src/llvvAnalysis/DMAnalysis/data/weights/muon_trigeff_sf_eta_eta.root"),
    ElectronTrigEffSF = cms.string("${CMSSW_BASE}/src/llvvAnalysis/DMAnalysis/data/weights/electron_trigeff_sf_abseta_abseta.root"),
    evStart = cms.int32(0),
    evEnd = cms.int32(-1),
    dirName = cms.string("mainAnalyzer/data"),
    jesUncFileName = cms.string("${CMSSW_BASE}/src/llvvAnalysis/DMAnalysis/data/weights/Summer15_25nsV5_MC_Uncertainty_AK4PFchs.txt"),
)
